body{
    background-color:black;
}
h1{
    display:flex;
    justify-content:center;
    border:5px solid red;
    background-color:pink;
    
}
h3{
    display:flex;
    justify-content:center;
    border:5px solid blue;
    background-color:purple;
}
h2{
    display:flex;
    justify-content:center;
    border:5px solid blue;
    background-color:purple;
}

#image{
    display:flex;
    justify-content:center;
    
    
 
}
.nav-item{
    display:inline;
    margin-left: 14%;
    font-size: 70px ;
    border:5px solid blue;
    background-color:silver;
    
}
.me{
    width:30%;
    height:40%;
     border-radius:50%;
     padding:15px;
     border:5px solid green;
}