
.row{   

    background-color:black;
    color:white;
    height:0px;
    width:70px;
    margin-left: 170px;
    margin-top:0px;
    display:flex;
    font-size: 50px;
}
.headshot{
    width:40%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    height:0px;
}

.me{
    width:100px;
    height:100px;
    border:solid black;
}
body{
    background-image: url(https://www.w3schools.com/css/paris.jpg)
}
#About{
    height:40px;
    width:45px;
}
.contact{
    
    width:7000px;
    margin-left: 55px;
    margin-top:0px;
    display:flex;
    font-size: 50px;
}
.myprojects{
    width:200px;
    margin-left: 55px;
    margin-top:0px;
    display:flex;
    font-size: 50px;
    
}
.nav-item{
    width:300px;
    list-style: none;
    
}
.nav-item a{
    font-size:48px;
    color:white;
}