
.row{   

    background-color:black;
    color:white;
    height:0px;
    width:70px;
    margin-left: 170px;
    margin-top:0px;
    display:flex;
    font-size: 50px;
}
.headshot{
    width:40%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-left:500px;
    height:0px;
}

.me{
    width:100px;
    height:100px;
    border: 1px solid black;
}
body{
    background-image: url(https://www.w3schools.com/css/paris.jpg)
}
#about{
    height:40px;
    width:45px;
    display:flex;
    justify-content:center;
}
.contact{
    
    width:100%;
    margin-left: 55px;
    margin-top:0px;
    display:flex;
    font-size: 50px;
}
.myprojects{
    width:200px;
    margin-left: 55px;
    margin-top:0px;
    display:flex;
    font-size: 50px;
    
}
.nav-item{
    width:300px;
    list-style: none;
    
    
}
.nav-item a{
    font-size:48px;
    color:white;
    display:flex;
    justify-content:space-around;
     margin-left: 10px;
}
.footer{
    font-size: 30px;
    color:red;
    margin-top:700px;
}
.nav{
    display:flex;
    justify-content:center;
}